{% extends "auctions/layout.html" %}

{% block head_display_listings %}
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div>
        {% if message == 'Success' %}
            <h3 style="color:green;">{{message}}</h3>
        {% else %}
            {% if item.is_active == False %}
                <h3 style="color:red;">Auction closed</h3>
            {% else %}
                <h3 style="color:red;">{{message}}</h3>
            {% endif %}
            
        {% endif %}
    </div>
    <div>
        <div>
            <h2><strong>Listing: {{item.title}}</strong></h2>
        </div>
        <div>
            <img src={{item.img_url}} alt={{item.title}} widht=500 height="300">
        </div>

        <div>
            {% if user.is_authenticated %}
                {% if item in watchlist %}
                    <a href="{% url 'auctions:remove_watchlist' item.id user.id %}">Remove from watchlist</a>                                                         
                {% else %} 
                    <a href="{% url 'auctions:add_watchlist' item.id user.id %}">Add to watchlist</a>  
                {% endif %} 
            {% else %}  
                Log in to add item to watchlist.
            {% endif %}
        </div>
 
        <hr>

        <div>
            <div>
                <h3><strong>${{item.price}}</strong></h3>
            </div>
            </br>
            <div>
                <p style="font-size: 20px;">Description: {{item.description}}</p>
            </div>

            <hr>

            <div>
                {% if item.is_active %}
                    {{bids|length}} bid(s) so far.
                    {% if last.bidder.id == user.id  %}    
                        Your bid is the current bid.
                    {% else %}                    
                    {% endif %} 
                {% else %}   

                {% endif %}
                
            </div>
            

            <div>
                {% if item.is_active %}
                    {% if user.is_authenticated %}
                        <form action="{% url 'auctions:place_bid' item.id user.id %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <input class="form-control" type="number" name="bid" placeholder="Bid" step="0.01" required>
                            </div>
                            <input class="btn btn-primary" type="submit" value="Place Bid">
                        </form>
                    {% else %}
                        <strong>Sign in to place bids</strong>
                    {% endif %}
                {% else %}
                    {% if last.bidder.id == user.id %}
                        You are the auction winner <strong>{{last.bidder.username}}</strong> 
                    {% else %}                     
                    {% endif %}
                {% endif %}
            </div>

            <div>
                {% if user.is_authenticated %}
                    {% if item.is_active %}
                        {% if item.creator.id == user.id %}
                            <a  href="{% url 'auctions:close_auction' item.id user.id %}">Close auction</a>
                        {% else %}
                        {% endif %}                      
                    {% else %}
                        <strong>Auction is closed</strong>
                    {% endif %}
                {% else %}                   
                {% endif %}
            </div>

            <hr>

            <div>
                Details:
                <ul>
                    <li>
                        Category: 
                        {% if not item.category%}
                            "No category listed" 
                        {% else %}
                            {{item.category}}
                        {% endif %}
                    </li>
                    <li>
                        Listed by: {{item.creator}}
                    </li>
                </ul>
            </div>                          
        </div>
        
        <hr>
        <h2 class="comments-title">Comments</h2>

        {% if user.is_authenticated %}
            <div>
                <h4 class="comments-title">Add a comment!</h4>
                <form action="{% url 'auctions:add_comment' item.id user.id %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <textarea class="form-control" type="text" name="comment" placeholder="Type your comment here" required></textarea>
                    <input class="btn btn-primary" type="submit" value="Comment">
                </form>
            </div>
        {% else %}
            <strong>Sign in to add comments!</strong>
        {% endif %}
        <div>            
            {% for comment in comments %}
                <div class="container">
                    <div class="be-comment-block">
                        <div class="be-comment">
                            <div class="be-comment-content">                                
                                    <span class="be-comment-name">
                                        <strong>{{comment.author.username}}</strong>
                                    </span>
                                <p class="be-comment-text">{{comment.text}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            {% endfor %}
        </div>               
    </div>
{% endblock %}